.n15 {
  .agent-input {
    width: 230px;
    height: 35px;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: white;
    color: black;
    resize: none;
    font-size: 15px;
  }
  .agent-input:focus {
    border: 3px solid #555;
  }

  // =============================================
  button {
    cursor: pointer;
  }
  .game-play {
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
  }
  .invisible {
    //border: 1px solid black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
    font-family: "Arial";
    padding: 10px;
    width: 20px;
    height: 20px;
    background-color: white;
  }
  .log {
    padding: 20px;
    padding-top: 10px;
    vertical-align: top;
    display: inline-block;
    font-family: "Arial";
    font-size: 14px;

    .scoreboard {
      font-weight: bold;
      line-height: 1.5em;
      font-family: "Arial";
      border: 1px solid black;
      border-radius: 10px;
      tr,
      td {
        padding: 10px;
        height: 25px;
      }
    }

    .console {
      padding: 15px;
      font-size: 13px;
      font-family: "Lucida Console";
      width: 200px;
      height: 400px;
      background-color: rgba(0, 0, 0, 0.548);
      border-radius: 5px;
      color: white;
      overflow-y: auto;
    }
  }
  .error {
    background-color: rgb(223, 70, 31);
    border-radius: 8px;
    font-family: "Arial";
    color: white;
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .won {
    background-color: green;
    border-radius: 8px;
    font-family: "Arial";
    color: ghostwhite;
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  // ---------------------------------------------------------------
  .square {
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 40px;
    height: 40px;
    vertical-align: top;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  .square.blue {
    background-color: rgb(174, 174, 247);
  }
  .square.orange {
    background-color: rgb(247, 167, 121);
  }
  .square.blue.agent {
    background-color: rgb(31, 31, 231);
    color: white;
  }
  .square.orange.agent {
    background-color: rgb(226, 89, 10);
    color: white;
  }
  .square.focus {
    background-color: rgb(240, 240, 77);
  }
  .square.big {
    background-color: rgb(190, 250, 190);
  }
  // -----------------------------------------------

  .next {
    width: 80px;
    height: 35px;
    font-family: Arial;
    font-size: 13px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 2px solid rgb(199, 36, 177);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .next:hover {
    background-color: rgb(199, 36, 177);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .endgame {
    width: 80px;
    height: 35px;
    font-family: Arial;
    font-size: 13px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 2px solid rgb(235, 47, 26);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .endgame:hover {
    background-color: rgb(235, 47, 26);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}
